table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background: #191970}
tr:nth-child(odd) {background: rgb(255, 255, 255)}

th {
    background-color: rgb(0, 0, 0);
    color: white;
}