<nav *ngIf="true" class="navbar navbar-expand-sm navbar-dark bg-dark">
  <ul class="navbar-nav w-100">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">
        Card Games
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mygames">
        My Games
      </a>
    </li>
    <li class="nav-item ml-auto">
      <a class="nav-link">
        Logout
        <span aria-hidden="true" class="fa fa-sign-out"></span>
      </a>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col add-mr">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
