#loginForm
{
    padding: 100px 50px;
    margin:auto;
    width: 50%;
}

#loginForm h2 {
    text-align: center;
}

.buttons-group {
    padding-left: 21px;
}

#loginInfo
{
    text-align: center;
}

.loginLabels
{
    color: #767978;
}