<div class="thumbnail">
  <div class="card" style="width: 18rem;">
    <img alt="Card image cap" class="card-img-top"
         src="https://static.betconstruct.me/fs/userFiles/sts-mga/media/blackjack-15640703351146.jpg">
    <div class="card-body">
      <h5 class="card-title">Black Jack</h5>
      <a [routerLink]="['/blackjack']" class="card-link"><i class="fas fa-redo-alt"></i>Resume</a>
      <a [routerLink]="['/blackjack']" class="card-link"><i class="fas fa-plus"></i> New game</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img alt="Card image cap" class="card-img-top"
         src="https://static.betconstruct.me/fs/userFiles/sts-mga/media/blackjack-15640703351146.jpg">
    <div class="card-body">
      <h5 class="card-title">Black Jack</h5>
      <a [routerLink]="['/blackjack']" class="card-link"><i class="fas fa-redo-alt"></i>Resume</a>
      <a [routerLink]="['/blackjack']" class="card-link"><i class="fas fa-plus"></i> New game</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img alt="Card image cap" class="card-img-top"
         src="https://static.betconstruct.me/fs/userFiles/sts-mga/media/blackjack-15640703351146.jpg">
    <div class="card-body">
      <h5 class="card-title">Black Jack</h5>
      <a [routerLink]="['/blackjack']" class="card-link"><i class="fas fa-redo-alt"></i>Resume</a>
      <a [routerLink]="['/blackjack']" class="card-link"><i class="fas fa-plus"></i> New game</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img alt="Card image cap" class="card-img-top"
         src="https://static.betconstruct.me/fs/userFiles/sts-mga/media/blackjack-15640703351146.jpg">
    <div class="card-body">
      <h5 class="card-title">Black Jack</h5>
      <a [routerLink]="['/blackjack']" class="card-link"><i class="fas fa-redo-alt"></i>Resume</a>
      <a [routerLink]="['/blackjack']" class="card-link"><i class="fas fa-plus"></i> New game</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img alt="Card image cap" class="card-img-top"
         src="https://static.betconstruct.me/fs/userFiles/sts-mga/media/blackjack-15640703351146.jpg">
    <div class="card-body">
      <h5 class="card-title">Black Jack</h5>
      <a [routerLink]="['/blackjack']" class="card-link"><i class="fas fa-redo-alt"></i>Resume</a>
      <a [routerLink]="['/blackjack']" class="card-link"><i class="fas fa-plus"></i> New game</a>
    </div>
  </div>
</div>
